.sectionText{
    margin: auto;
    margin-bottom: 30px;
    color: black;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}